<%- include('partial/header') %>
<div class="home-content">
  <div class="contents">
      <h1>Secrets</h1>
    <p>don't keep your secret, share your secret anonymously</p>
    <hr>
    <a href="/register" role="button"><button>Register</button> </a>
    <a href="/login" role="button"><button>Login</button></a>
    </div>
</div>

<%- include('partial/footer') %>
