<%- include('partial/header') %>
<div class="contents">
 <h1>Love of my life is Formayewa UBA staff</h1>
  <p>I will do everything to get her in my life </p>
  <a href=""><button role="button">submit you secrets</button></a>
 <a class="logout" href="/logout"><button role="button">logout</button></a>
</div>
<%- include('partial/footer') %>
